<%= render partial: 'claims/claimleftmenu' %>
<%= render partial: 'claims/claimsummarymenu' %>
<div class="with-iconav">
  <div class="container-fluid-middle">
    <div class="col-12">
      <div class="dashhead">
        <div class="dashhead-titles">
          <h2 class="dashhead-title">Contacts</h2>
        </div>
      </div>
      <div class="flextable" style="padding-bottom:20px;">
        <div class="flextable-item">
          <%= link_to '+Add Contact', new_claim_contact_path(claim_id: @claim.id)%>
        </div>
      </div>
      <div class="table-responsive">  
        <table class="table">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>User</th>
              <th>Email</th>
              <th>Preferred Method</th>
              <th>Type</th>
              <th>Mobile</th>
              <th>Office</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @contacts.each do |contact| %>
              <tr>
                <td><%= contact.firstname %></td>
                <td><%= contact.lastname %></td>
                <td><%= contact.user_id ? contact.user.fullname : 'None' %></td>
                <td><%= contact.email %></td>
                <td><%= Contact::PREFERRED_METHOD_OPTIONS.to_h.invert[contact.preferred_method] %></td>
                <td><%= Contact::TYPE_OPTIONS.to_h.invert[contact.type] %></td>
                <td><%= contact.mobile.present? ?  contact.mobile : "None" %></td>
                <td><%= contact.office.present? ? contact.office : "None" %></td>
                <td>
                  <%= link_to 'View', claim_contact_path(claim_id: @claim.id, id: contact.id) if contact.user_id.nil? %>
                  <%= link_to 'Edit', edit_claim_contact_path(claim_id: @claim.id, id: contact.id) if contact.user_id.nil? %>
                  <%= link_to 'Delete', "/claims/#{@claim.id}/contacts/#{contact.id}", data: {confirm: "Are you sure?"}, method: :delete %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>