<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label>Summary</label>
      <%= f.text_field :summary, placeholder: "Summary", class: "form-control" %>
    </div>
  </div>
</div>  
<div class="row">  
  <div class="col-md-6">
    <div class="form-group">
      <label>Type</label>
      <%= f.text_field :damage_type, placeholder: "Type", class: "form-control" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Product Cost</label>
      <%= f.text_field :product_cost, placeholder: "Product Cost", class: "form-control" %>
    </div>
  </div>
</div>  
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Sub Type</label>
      <%= f.text_field :sub_type, placeholder: "Sub Type", class: "form-control" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Labour Cost</label>
      <%= f.text_field :labour_cost, placeholder: "Labour Cost", class: "form-control" %>
    </div>
  </div>
</div>  
<div class="row">    
  <div class="col-md-12">
    <div class="form-group">
      <label>Description</label>
      <%= f.text_area :description, rows: 5, placeholder: "Description", class: "form-control" %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>File </label>
      <%= select_tag "file_type", options_for_select(Attachment::TYPE_OPTIONS, @damage.attachment&.file_type), class: 'form-control' %>
    </div>
  </div>  
  <div class="col-md-6">  
    <div class="form-group">
      <span class="btn btn-default btn-file text-babu" style="padding-top:30px;">
        <%= file_field_tag "file", type: :file, accept: "application/*" %>
      </span>
    </div>  
  </div>
</div>
<% if @damage.attachment.present? %>
  <div class="row">
    <div class="col-md-4">
      <div class="panel-heading preview">
        <%= attachment_url(@damage) %>
      </div>  
    </div>
  </div>
<% end %>
<script type="text/javascript">
  <% if @damage.attachment.present? %>
    <% if @damage.attachment.file_type == 'image'%>
      $('#file').prop('accept', 'image/*');
    <% elsif @damage.attachment.file_type == 'video'%>
      $('#file').prop('accept', 'video/*');
    <% else %>
      $('#file').prop('accept', 'application/*');
    <% end %>
  <% end %>
  $('#file_type').off('change').on('change', function(){
    if($(this).val() === 'image'){
      $('#file').prop('accept', 'image/*');
    }else if($(this).val() === 'video'){
      $('#file').prop('accept', 'video/*');
    }else{
      $('#file').prop('accept', 'application/*');
    }
  })
</script>