<%= render partial: 'claims/claimleftmenu' %>
<%= render partial: 'claims/claimsummarymenu' %>

<div class="with-iconav">
  <div class="container-fluid-middle">
    <div class="col-12">
      <div class="dashhead">
        <div class="dashhead-titles">
          <h2 class="dashhead-title">Damages</h2>
        </div>
      </div>
      <div class="panel-body">
        <h6 class="dashhead-title">Loss Details</h6>
        <%= form_for @claim_additional_detail, url: lost_details_claim_path(@claim) do |f|%>
          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <%= f.radio_button :is_cat, true, checked: @claim_additional_detail.is_cat %>
                <%= f.label 'Yes'%>
                <%= f.radio_button :is_cat, false, checked: !@claim_additional_detail.is_cat %>
                <%= f.label 'No'%>
              </div>
            </div>  
          </div>  
          <div class="row">  
            <div class="col-md-3">  
              <div class="form-group cat_id">
                <label>CAT ID</label>
                <%= f.text_field :cat_id , class: 'form-control' %>
              </div>
              <div class="form-group">
                <label>Excess Amount</label>
                <%= f.text_field :excess_amount , class: 'form-control' %>
              </div>
            </div>
          </div>
          <div>
            <%= f.submit "Save", class: "btn btn-form" %>
          </div>      
        <% end %>
      </div>
      <hr/>
      <div class="flextable" style="padding-bottom:20px;">
        <div class="flextable-item">
          <%= link_to '+Add Damage', new_claim_damage_path(claim_id: @claim.id)%>
        </div>
      </div>
      <div class="panel-body">
        <% @damages.each do |damage| %>
          <div class="row">
            <div class="col-md-2">
              <%= image_tag damage.cover_photo(:thumb) %>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label>Summary :</label>
                <%= link_to damage.summary, claim_damage_path(id: damage.id, claim_id: @claim.id) %>
              </div>
              <div class="form-group">
                <label>Type :</label>
                <%= damage.damage_type.present? ? damage.damage_type : "None" %>
              </div>
              <div class="form-group">
                <label>Sub Type :</label>
                <%= damage.sub_type.present? ? damage.sub_type : "None" %>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label>Product Cost :</label>
                <%= damage.product_cost.present? ? damage.product_cost : 0.0 %> $
              </div>
              <div class="form-group">
                <label>Labour Cost :</label>
                <%= damage.labour_cost.present? ? damage.labour_cost : 0.0 %> $
              </div>
              <div class="form-group">
                <label>Total Cost :</label>
                <%= damage.product_cost.to_f + damage.labour_cost.to_f  %> $
              </div>
            </div>
            <div class="col-md-2">
              <%= link_to 'Edit', edit_claim_damage_path(claim_id: @claim.id, id: damage.id)%>
              <%= link_to 'Delete', "/claims/#{@claim.id}/damages/#{damage.id}", data: {confirm: "Are you sure?"}, method: :delete%>
            </div>
          </div>  
          <hr/>
        <% end %>
      </div>
    </div>      
  </div>
</div>
<script type="text/javascript">
  if($("input[name='claim_additional_detail[is_cat]']:checked").val() == 'false'){
    $('.cat_id').hide();
  }
  $("input[type='radio']").off('change').on('change', function(){
    if($(this).val() === 'true'){
      $('.cat_id').show();
    }else{
      $('#claim_additional_detail_cat_id').prop('value', '');
      $('.cat_id').hide();
    }
  })
</script>