<%= render partial: 'claims/claimleftmenu' %>
<%= render partial: 'claims/claimsummarymenu' %>

<div class="with-iconav">
  <div class="container-fluid-middle">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            Damage Details
          </div>
          </br>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Description :</label>
                  <%= @damage.description || "None" %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Summary :</label>
                  <%= @damage.summary || "None" %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Type :</label>
                  <%= @damage.damage_type || "None" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Sub Type :</label>
                  <%= @damage.sub_type || "None" %>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Product Cost :</label>
                  <%= @damage.product_cost || 0.0 %> $
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Labour Cost :</label>
                  <%= @damage.labour_cost || 0.0 %> $
                </div>
              </div>
            </div>  
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Photo :</label>
                  <%= image_tag @damage.cover_photo(:thumb) %>
                </div>
              </div>
            </div>
            <%= link_to 'Edit', edit_claim_damage_path(claim_id: @claim.id, id: @damage.id), class: "btn btn-normal"%>
            <%= link_to 'Delete', "/claims/#{@claim.id}/damages/#{@damage.id}", method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-normal"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>