<%= render 'dashboards/dashboardleftmenu' %>

<div class="with-iconav">
  <div class="container-fluid-middle">
    <div class="row">
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            Tasks
          </div>
          <div class="panel-body">

            <% @trips.each do |trip| %>
              <div class="row">
                <div class="col-md-2">
                  <%= trip.start_date.strftime('%v') %>
                  <p><%= trip.status %></p>
                </div>
                <div class="col-md-2">
                  <%= link_to claim_path(trip.claim) do %>
                    <%= image_tag trip.claim.cover_photo(:thumb) %>
                  <% end %>
                </div>
                <div class="col-md-5">
                  <%= link_to trip.claim.listing_name, claim_path(trip.claim) %><br/><br/>
                  <span>
                    <%= image_tag avatar_url(trip.claim.user), class: "img-circle avatar-small" %>
                    <%= link_to user_path(trip.claim.user) do %>
                        <%= trip.claim.user.fullname %>
                    <% end %>
                  </span>
                </div>
                <div class="col-md-3 text-right">
                  <%= render partial: "reviews/guest_form", locals: {reservation: trip} if trip.Approved? %>
                </div>
              </div>
              <hr/>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
